.srinadh{
      width:450px;
	  height:40px;
	  border:1px solid black;
}
.sri{
	width:70px;
	height:300px;
	border:1px solid black;
	margin-top:10px;
}

	
.sri1{
	width:289px;
	height:60px;
	border:1px solid black;
	margin-top:-300px;
	margin-left:80px;
}
	
.sri2{
	width:70px;
	height:300px;
	border:1px solid black;
	margin-top:-62px;
	margin-left:380px;
}
.sri3{
	width:289px;
	height:227px;
	border:1px solid black;
	margin-top:-230px;
	margin-left:80px;
}
.sri3a{
        width:20px;
	height:20px;
	border:1px solid black;
	margin-top:-280px;
	margin-left:150px;
}
.sri3b{
        width:20px;
	height:20px;
	border:1px solid black;
	margin-top:-22px;
	margin-left:180px;
}
.sri3c{
        width:20px;
	height:20px;
	border:1px solid black;
	margin-top:-22px;
	margin-left:210px;
}
.sri3d{
        width:20px;
	height:20px;
	border:1px solid black;
	margin-top:-22px;
	margin-left:240px;
}
.sri3e{
        width:20px;
	height:20px;
	border:1px solid black;
	margin-top:-22px;
	margin-left:270px;
}

