.srinadh{
      width:300px;
	  height:230px;
	  border:1px solid black;
}
.sri{
	width:280px;
	height:30px;
	border:1px solid black;
	margin-left:5px;
	margin-right:5px;
	margin-top:5px;
}
.sri1{
	width:280px;
	height:100px;
	border:1px solid black;
	margin-left:5px;
	margin-right:5px;
	margin-top:5px;
}
.sri2{
	width:70px;
	height:40px;
	border:1px solid black;
	margin-left:5px;
	margin-right:5px;
	margin-top:5px;
}
	
.sri3{
	width:70px;
	height:40px;
	border:1px solid black;
	margin-left:110px;
	margin-right:5px;
	margin-top:-43px;
}
.sri4{
	width:70px;
	height:40px;
	border:1px solid black;
	margin-left:215px;
	margin-right:5px;
	margin-top:-43px;
}
.sri5{
	width:280px;
	height:30px;
	border:1px solid black;
	margin-left:5px;
	margin-right:5px;
    margin-top:5px;
}